body {
    font: 400 15px/1.5 "Roboto Slab","Montserrat","Iosevka","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Roboto Slab", "Montserrat, Iosevka", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
}
/* .nav-link{
    color:black !important;
}
.navbar-brand
{
    color:black !important; 
} */
.fixed-top.scrolled {
    /* background-color: #222324 !important; */
    /* background-color: #3b5998 !important;
    background-color: #88a2db !important; */
     /* background: linear-gradient(#3b5998,#88a2db);  */
    /* background: linear-gradient(#222324,#c6cace); */
    /* background-color: #00aced !important; */
    /* background-color: rgb(49, 49, 233) !important; */
    transition: background-color 100ms linear;
  }
  .header-img{
      background-image: url("../images/kid-contact1.jpg");
    background-repeat:no-repeat;
     background-size:100% auto;
     /* background-position:center center; */
   
     
  }
  hr {
      color: white !important;
  }
  #header-form label{
      color: white;
  }
     #header-form input{
        background-color:transparent !important;
        border:none !important; 
        color: white !important;
        box-shadow: none !important;
    }
    #header-form 
    {
        background-color: rgba(66, 4, 236, 0.72);
    }
    #header-form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color:white !important;
        opacity: 1; /* Firefox */
    }
    
    #header-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
    
    #header-form ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
    }
  
 .navigation-bar
  {
      background-color: #00aced;
      background-color: rgba(66, 4, 236, 0.82);
      background-color:rgba(66, 4, 236, 0.92);
      
  }
  .top-contact li
  {
    color: #00aced;
  }
  .nav-link {
    color: black;
  }
  .fa-bars{
      color:white;
  }
  body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important; 
}             
.modal-title{
    color:black;
}
.nav-link:hover{
    color:black;
}

.fa-headphones,.fa-clock-o,.fa-money,.fa-user-o,.fa-language,.fa-globe{
    /* color:#0275d8;
    color: #00aced; */
    color: rgba(66, 4, 236, 0.92);
}

.parallax{
      background-image: url("../images/paper2.jpg");

     min-height: 406px; 
 
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 /* .container-fluid {
     padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }  */
 .parallax h3{
     color: black;
     text-align: center;
 }
 .testimonial q{
     color: black;
 }
.carousel-item.active {
    display:block;
}
.carousel-indicators {
    bottom:-80px;
  }
  /* .carousel-inner {
    margin-bottom:50px;
 } */
  ul{
      list-style-type: none;
  }
  li a{
      text-decoration: none !important;
  }
  .fa-youtube{
      color:#bb0000;

  }
  .fa-twitter{
      color: #00aced; 
  }
  .fa-skype{
      color:#00aff0;
  }
  .fa-facebook{
      color: #3b5998;
  }
  .fa-google-plus
  {
      color: #dd4b39;
  }
  .footer{
       background-color: #222324;
       background-color: rgba(91, 34, 248,1);
       background-color:rgba(66, 4, 236, 0.92);
      padding-top: 60px;
      background-image: url("../images/pencil.png");
       background-position: right;
     background-repeat: no-repeat;

  }
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    color:rgba(255, 255, 255, 0.1);
    
} 
.bottom li a{
    color: white !important;
    font-size: 14px;
}
.copyright{
    color: white !important;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 13px;
}
.contact li{
    color: black;
    font-size: 14px;
}
.join-us{
font-weight: 100 !important;
line-height: 1.2;
color: #242424;
 font-size: 2.25rem !important; 
/* text-transform: capitalize; */
}
.carousel-content p{
color: white;
font-style: italic;
/* font-weight: bold; */
}
.carousel-content h6 {
    color: black;
}
.fa-angle-double-down
{
    color: white;
}
.fa-angle-double-down:hover{
    color: black;
}
/* modal form*/
.modal-header{
    background-color:rgba(66, 4, 236, 0.92);
}
.modal-title{
    color:white;
}

/* about us */
.bullets {
    list-style-type: circle !important;
    color: black;
}

/* courses */
.course-description{
    padding-top:20px;
    padding-bottom:20px;
}

/* faqs */

.question{
    cursor: pointer;
}

/* read quran */
#quran-chapters .row{
    margin-bottom: 20px;
}
.fa-book {
    color:#2a7ae2;
}
/* holyquran.php */
.fa-arrow-circle-o-left,.fa-arrow-circle-o-right{
    cursor:pointer;
}